.footer{
    height: 500px;
    color:#242424;
}
.footerRow{
    height: 400px;
    display: flex;
}
.contactSec{
    width: 550px;
    display: flex;
    align-items: center;
    border-right: 1.5px solid #242424;
    border-bottom: 1.5px solid #242424;
}
.footerStar{
    color: #ff4500;
}
.contactText{
    padding-left: 80px;
}
.contactText h1{
    font-size: 40px;
}
.contactText p{
    font-size: 20px;
}
.infoSec{
    width: 350px;
    border-right: 1.5px solid #242424;
    border-bottom: 1.5px solid #242424;
    display: flex;
    align-items: center;
}
.optionList{
    list-style: none;
    padding-left: 60px;
}
.optionList h2{
    text-decoration: underline;
    margin-bottom: 40px;
}
.optionList li{
    margin-bottom: 20px;
}
.option{
    text-decoration: none;
    color:#242424;
    font-size: 20px;
}
.social{
    height: 100px;
    display: flex;
}
.socialItems{
    border-right: 1.5px solid #242424;
    width: 890px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.socialIcon{
    font-size: 20px;
    margin-right: 50px;
    color:#a8a8a8;
}
.socialIcon:hover{
    cursor:pointer;
    color:#242424;
}
.socialText{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    font-size: 18px;
    color:#242424;
}