.container{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f6f6f6;
    margin-top: 100px;
}
.subSection{
    height:550px;
    border-bottom: 1.5px solid #242424;
    font-size: 110px;
    font-weight:900;
    color:#1e2633;
}
.subSection p{
    position:relative;
    top:-30px;
    padding-left: 70px;
}
.star{
    margin-left: 30px;
    margin-right: 30px;
    color:#ff4500;
}
.snow{
    margin-right: 30px;
}
.subBtn{
    font-size: 30px;
    color:#242424;
    width: 360px;
    height: 60px;
    display: inline-block;
    position: relative;
    bottom: 20px;
    left:50px;
}
.subBtn:hover{
    cursor:pointer
}
.sub{
    font-size: 50px;
    position: relative;
    bottom: -10px;
    left:5px;
}

.featuredSec{
    height: 740px;
    background-color: yellow;
    color:#242424;
    border-bottom: 1.5px solid #242424;
}
.secRow{
    display: flex;
    justify-content: space-between;
    margin-top:75px;
}
.secTitle{
    padding-left: 70px;
}
.title{
    display:inline-block;
}
.hex{
    font-size: 20px;
    padding-right: 10px;
}
.viewAllSec{
    display: flex;
    align-items: center;
    padding-right: 80px;
}
.viewAllBtn{
    color:#242424;
    font-size:20px;
}
.latestSec{
    border-bottom: 1.5px solid #242424;
}
.btnSec{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadBtn{
    height: 70px;
    width: 280px;
    background-color: #242424;
    color:#f6f6f6;
    font-size: 20px;
    font-weight: 700;
    border:1.5px solid #242424;
    border-radius: 8px;
    margin-top: 80px;
}
.loadBtn:hover{
    cursor:pointer;
    background-color: #f6f6f6;
    color:#242424;
    transition: 0.5s;
    
}
.missedSec{
    background-color: brown;
    height: 580px;
    border-bottom: 1.5px solid #242424;
}
.notifySec{
    background-color: #f6f6f6;
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color:#242424;
    border-bottom: 1.5px solid #242424;
}
.notifyItem{
    font-size: 25px;
    margin-top: 90px;
    margin-bottom: 8px;
}
.notifyTitle{
    font-size: 17px;
    margin-bottom:20px;
}
.notifyText{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 60px;
}
.emailCard{
    background-color: white;
    border:none;
    border-radius: 15px;
    width: 740px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    box-shadow: 0px 3px 100px 0px #0000001a;
}
.emailInput{
    height: 60px;
    width: 530px;
    border-radius: 8px;
    border:0.5px solid #a8a8a8;
    padding-left: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}
.notifyBtn{
    border: 1.5px solid #242424;
    background-color: #242424;
    color:white;
    border-radius: 8px;
    height: 65px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
}
.notifyBtn:hover{
    cursor:pointer;
    background-color: #f6f6f6;
    color:#242424;
    transition: 0.5s;
}








/* articleCard */
.allPosts{
    margin-top: 10px;
    margin-bottom: -150px;
    display: flex;
    flex-wrap: wrap;
    column-gap:40px;
    margin-left:100px;
    /* background-color: brown; */
}
.latestPost{
    height: 500px;
    width: 435px;
    /* background-color: blue; */
}
.postImg{
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.postAuthor{
    /* background-color: orange; */
    height: 50px;
    font-size: 18px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    color:#242424;
}
.postTitle{
    height: 120px;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding-left: 12px;
    color: #242424;
    /* background-color: yellow; */
}
.articleImg{
    width:430px;
    height:300px;
    border-radius: 10px;
}
.articleImg:hover{
    cursor:pointer
}
.articleTitle{
    text-decoration: none;
    color:#242424;
    margin-top:0px;
}
.articleTitle:hover{
    text-decoration: underline;
    cursor:pointer;
}

.btnSec{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

