.container{
    font-family: 'Inter', sans-serif;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    flex-direction: column;
    color:#242424;
    border-bottom: 1.5px solid #242424;
}
.container h2{
    height: 30px;
    margin-top: 50px ;
}
.header{
    height: 80px;
    width: 1350px;
    margin-top: 150px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addBtn{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:10px;
    color:r#242424;
}
.addBtn:hover{
    cursor: pointer;
}
.articleRow{
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap:50px;
    align-items: center;
    height: 380px;
    width: 1350px;
    margin-bottom: 30px;
    box-shadow: 0px 3px 100px 0px #0000001a;
}
.imageSec{
    height: 350px;
    width: 500px;
}
.imageSec img{
    height: 350px;
    width: 500px;
    border-radius: 20px;
}
.imageSec img:hover{
    cursor:pointer;
}
.titleSec{
    height: 300px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    height: 200px;
    width: 700px;
    display: flex;
    align-items:center;
}
.title h1{
    font-size: 50px;
}
.title h1:hover{
    cursor:pointer;
}
.btnSec{
    height: 50px;
    width: 200px;
    color:#a8a8a8;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    position: relative;
    left:430px;
}
.del:hover{
    cursor:pointer;
    color:#242424;
    transition-duration: 0.5s;
}
.update:hover{
    cursor:pointer;
    color:#242424;
    transition-duration: 0.5s;
}