.navbar{
  width: 100%;
  height: 130px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #242424;
  margin-bottom: 30px;
  position: fixed;
  top:0;
  left:0; 
  z-index: 1;
}
.navbarTitle{
  height: 130px;
  width: 300px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1.5px solid #242424;
}
.navBtnList{
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 1000px;
  align-items: center;
}
.navBtnList li{
  width: 120px;
  text-align: center;
}
.navBtn{
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  color: #242424;
  text-decoration: none;
  display: inline-block;
  padding-top: 7px ;
  padding-bottom: 7px ;
  position: relative;
}
.navBtn::after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #242424;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navBtn:hover::after { 
  width: 100%; 
  left: 0; 
}








.icons{
  /* background-color: blue; */
  /* display: inline-block;  */
  height: 130px;
  width: 300px;
 
  list-style: none;
  text-decoration: none;
 

  display: flex;
  justify-content: center;
  gap:20px;
  align-items: center;


  border-left: 1.5px solid #242424;
}

.searchBtn{
  background-color: transparent;
  color:#242424;
  display: block;
  height: 30px;
  width: 35px;
}
.searchBtn:hover{
  cursor: pointer;
}
.themeBtn{
  background-color: transparent;
  display: block;
  height: 30px;
  width: 35px;

}
.themeBtn:hover{
  cursor: pointer;
}
.loginBtn{
  background-color: #242424;
  color:#f6f6f6;
  display: block;
  height: 30px;
  width: 35px;
  border-radius: 5px;
  border:2px solid #242424;
}

.loginBtn:hover{
  cursor: pointer;
  background-color: #f6f6f6;
  color:#242424;
  /* transition: 1s; */
}
