.container{
    font-family: 'Inter', sans-serif;
    background-color: #f6f6f6;
    color:#242424;
    margin-top: 100px;
}
.titleSec{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    border-bottom: 1.5px solid #242424;
    gap:30px;
}
.articleImg{
    margin-left: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 500px;
    width: 700px;
}
.articleImg img{
    border-radius: 10px;
    height: 450px;
    width: 600px;
}
.articleTitle{
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-size: 30px;
    height: 300px;
    width: 800px;
}
.contentSec{
    border-bottom: 1.5px solid #242424;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.articleDesc{
    font-size: 25px;
    margin-top: 30px;
    width: 1200px;
}
.articleDesc p{
    line-height: 40px;
    letter-spacing: 0.5px;
    width: 1000px;
    margin-left: 100px;
    margin-top:30px;
}
